.btn{
    padding: 5px 10px;
    border: none;
}

.btn-search{
    padding: 13px 30px;
    background-color: #282828;
    margin-left: 0px;
    color: #fff;
}

.btn-search-disabled{
    padding: 12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color: #999;
    border: #aaa 1px solid;
    cursor: not-allowed;
}